{% extends 'base.html' %}
{% block title %}Listar Vendas{% endblock %}

{% block content %}
<div class="container">
    <h1>Vendas</h1>
    <a href="{{ url_for('adicionar_venda') }}" class="btn btn-success mb-3">Adicionar Venda</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data</th>
                <th>Total</th>
                <th>Usuário</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.id }}</td>
                <td>{{ venda.data.strftime('%d/%m/%Y %H:%M') }}</td>
                <td>Kz {{ "%.2f"|format(venda.total) }}</td>
                <td>{{ venda.usuario.nome }}</td>
                <td>
                    {% if current_user.tipo in ['Admin', 'Atendente'] %}
                    <a href="{{ url_for('editar_venda', id=venda.id) }}" class="btn btn-warning btn-sm">Editar</a>
                    {% endif %}
                    {% if current_user.tipo == 'Admin' %}
                    <a href="{{ url_for('excluir_venda', id=venda.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza?')">Excluir</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}